body, html {
    height: 100%;
}

.bg_img1 {
    /* The image used */
    background-image: url("../img/bg_img1.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  /*Beginning greeting*/

div#header-container {
  display: none;
}

h1 {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 300%;
  padding: 0.5em;
  margin: 0;
  text-align: center;
  letter-spacing: 5px;
  font-size: 300%;
  color: white;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);

}

#intro-title-container {
  border-bottom: solid 1px grey;
}

/*Intro header*/
h2#intro-title {
  font-weight: 100;
  font-size: 200%;
  text-align: center;
  padding: 40px;
  letter-spacing: 2px;
}

#column-style {
  text-align: justify;
  margin-bottom: 60px;
}

h3 {
  font-weight: 100;
}

#contact-container {
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
}

ul li {
  display: inline-block;
  padding: 20px 20px 0px 20px;
}

img {
  /*Section column images*/
  max-width: 100%;
}
.bg_img2 {
    /* The image used */
    background-image: url("../img/me_photo2.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hobby-title-container {
  text-align: center;
  position: relative;
  top: 35%;
}


h2#hobby-title {
  /*Hobby Title Styling*/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
  font-size: 300%;
  color: white;
  padding: 0.5em;
  display: inline-block;
  margin: 0;
}

div#photo-container-style {
  margin-top: 10px;
}
div.col-md-3 {
  padding: 10px;
}
